<section data-ng-controller="DynamicController">
    <div class="page-header">
        <h1>User Dynamic Data</h1>
    </div>
    <div class="col-md-12">
        <form name="getForm" class="form-horizontal" data-ng-submit="findUserDynamicData(getForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="appname">Name</label>
                    <div class="controls">
                        <input name="appname" type="text" data-ng-model="appName" id="appname" class="form-control" placeholder="App Name" required>
                    </div>
                    <div ng-show="getForm.appname.$invalid" class="help-block">
                        <p ng-show="getForm.appname.$error.required" class="text-danger">App Name is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Buscar" class="btn btn-default" ng-disabled="getForm.appname.$invalid">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div data-ng-if="userDynamicData">
        <p class="lead" data-ng-bind="userDynamicData"></p>
    </div>
</section>